<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мониторинг животных</title>
</head>
<body>
    <h1>Мониторинг бездомных животных</h1>
<form action="/detect" method="post" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <button type="submit">Запустить обработку</button>
</form>

{% if image_url %}
    <h2>Загруженное изображение</h2>
    <img src="{{ image_url }}" width="400">
{% endif %}

{% if message %}
    <h2>{{ message }}</h2>
    <p>
        Время: {{ stats.datetime }}<br>
        Найдено объектов: {{ stats.count }}<br>
        Классы: {{ stats.detections }}
    </p>
    <a href="/report">Скачать Excel-отчёт</a>
{% endif %}
</body>
</html>